<!doctype html>
<head>
    <title>Friends Facts</title>
    <link rel="stylesheet" href="../static/stylesheets/style.css">
    <link rel="stylesheet" href="../static/stylesheets/tailwind.min.css">
</head>
<body>
<header class="content-section-light">
    <div class="container mx-auto flex flex-wrap">
        <div class="sm:w-full md:w-full lg:w-1/2 lg:px-8 px-4" style="margin-top: 57px;">
            <img src="../static/img/fact.png" class="brand-icon">
            <h1><i>F.R.I.E.N.D.S</i> Facts 101</h1>
            <h2>An open source API of the most loved TV sitcom.</h2>
        </div>
        <div class="md:w-full px-4 pt-4 lg:w-1/2 lg:px-8 lg:pt-0">
            <img class="resize" src='../static/img/header.jpg' width="400" height="200">
        </div>
    </div>    
</header>

<div class="content-section-dark">
    <div class="container mx-auto flex flex-wrap">
        <div class="lg:w-1/4"></div>
        <div class="md:w-full lg:w-1/2 text-center">
            <h1 class="text-4xl">Error 404</h1>
            <p style="margin-top: 1em;">
               Sorry, we couldn't find this page.
            </p>
        </div>
        <div class="lg:w-1/4"></div>
    </div>
</div>

<footer>
</footer>

</body>
</html>