<!doctype html>
<head>
    <title>Friends Facts 101</title>
    <link rel="shortcut icon" href="../static/img/icon.png" type="image/x-icon">
    <link rel="stylesheet" href="../static/stylesheets/style.css">
    <link rel="stylesheet" href="../static/stylesheets/tailwind.min.css">
</head>
<body>
<header class="content-section-light">
    <div class="container mx-auto flex flex-wrap">
        <div class="sm:w-full md:w-full lg:w-1/2 lg:px-8 px-4" style="margin-top: 57px;">
            <img src="../static/img/fact.png" class="brand-icon">
            <h1><i>F.R.I.E.N.D.S</i> Facts 101</h1>
            <h2>An open source API of the most loved TV sitcom.</h2>
            <p style="text-align: center;"><i>(upcoming - suitable image for each fact)</i></p>
        </div>
        <div class="md:w-full px-4 pt-4 lg:w-1/2 lg:px-8 lg:pt-0">
            <img class="resize" src='../static/img/header.jpg' width="400" height="200">
        </div>
    </div>    
</header>

<div class="content-section-dark">
    <div class="container mx-auto flex flex-wrap">
        <div class="lg:w-1/4"></div>
        <div class="md:w-full lg:w-1/2 text-center">
            <h2 class="text-4xl">List all facts</h2>
            <p style="margin-top: 1em;">
                Use the following URL to fetch JSON of all facts stored in our repository.
            </p>
            <pre style="margin-top: 1em;">
                <code class="break-words">
                    <a class="no-underline" href="/list">/list</a>
                </code>
            </pre>
        </div>
        <div class="lg:w-1/4"></div>
    </div>
</div>

<div class="content-section-light">    
    <div class="container mx-auto flex flex-wrap">
        <div class="lg:w-1/4"></div>
        <div class="md:w-full lg:w-1/2 text-center">
            <h2 class="text-4xl">Get a random fact</h2>
            <p style="margin-top: 1em;">
                Use the following URL to fetch JSON of any random fact from our repository.
            </p>
            <pre style="margin-top: 1em;">
                <code class="break-words">
                    <a class="no-underline" href="/rnd">/rnd</a>
                </code>
            </pre>
        </div>
        <div class="lg:w-1/4"></div>
    </div>  
</div>

<div class="content-section-dark">  
    <div class="container mx-auto flex flex-wrap">
        <div class="lg:w-1/4"></div>
        <div class="md:w-full lg:w-1/2 text-center">
            <h2 class="text-4xl">Get a specific fact</h2>
            <p style="margin-top: 1em;">
                Use the following URL to fetch JSON of any <br>specific fact using its <b>id</b> form our repository.
            </p>
            <pre style="margin-top: 1em;">
                <code class="break-words">
                    <a class="no-underline" href="/2">/2</a>
                </code>
            </pre>
        </div>
        <div class="lg:w-1/4"></div>
    </div>  
</div>

<footer>
    <div class="flex justify-center">
        <div>
            <p class="leading-loose">
                <a href="http://github.com/Ajinkya-Sonawane/" class="no-underline">
                    <img src="../static/img/github.png" alt="Ajinkya Sonawane's Github" class="brand-icon">
                </a>
                <a href="https://medium.com/@sonawaneajinks" class="no-underline">
                    <img src="../static/img/medium.png" class="brand-icon" >
                </a>
                <a href="https://www.linkedin.com/in/sonawaneajinks/" class="no-underline">
                    <img src="../static/img/linkedin.png" class="brand-icon">
                </a>
            </p>
            <p class="leading-loose">
                Created by <i><b>Ajinkya Sonawane</b></i>
            </p>
        </div>
    </div>
</footer>

</body>
</html>